<!-- aside component  -->
<aside>
    <div *ngIf="isLoading">
        <app-loader/>
    </div>
    <div *ngIf="!isLoading" class="aside">
        <h2 class="title">
            Recent posts
        </h2>
        <div>
            <div *ngFor="let posts of postsList" class="aside-theme">
                <a href="#">
                    <h3>{{posts.themeId.themeName}}</h3>
                    <p>{{posts.userId.username}}</p>
                    <p><span>{{posts.created_at}}</span></p>
                </a>
            </div>

        </div>
    </div>
</aside>